# A SIMPLE little .env file for helping our post-processing service work
# this is NOT intended to be used in the long-term, so please don't add
# too many things to this file

CHECK_ENVIRONMENT_INTEGRITY = True

DOT_ENVS                    = ["..\\..\\.env", ".env"]

# This should be True for the EDGE device, False otherwise
USE_EDGE                     = False

# Write debugging information to the database about each query's timing
# (for maximum performance, set this to empty)
AUDIT_PATH                   = database

INTERACT_AFTER_ERROR         = False